<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<body>

    <h2>B站连接</h2>
    <div>
        <span style="color:red">时间： </span>
        <span>2025-3-9</span>
    </div>
    <div>
        b站是一个，好看的二次元网站.......
        <a href="https://www.bilibili.com" target="_blank">点击跳转</a>
    </div>

    <h2>外卖系统连接</h2>
    <div>
        <span style="color: #7fff90">时间：</span>
        <span>2025-3-9</span>
    </div>
    <div>
        <div><img style="height: 400px " src = "/img/牛仔.jpg" /></div>
        <a href="/login" target="_blank">按钮</a>
        <span>跳转到外卖系统界面</span>
    </div>


    <h1>运营商列表</h1>
    <ul>
        <li>中国联通</li>
        <li>中国移动</li>
        <li>中国电信</li>
    </ul>

    <ol>
        <li>中国联通</li>
        <li>中国移动</li>
        <li>中国电信</li>
    </ol>

    <h1>数据表格</h1>
    <table border="1">
        <thead>
            <tr>   <th>ID</th> <th>姓名</th> <th>年龄</th>  </tr>
        </thead>
        <tbody>
            <tr>   <td>10</td> <td>佩奇</td> <td>19</td> </tr>
            <tr>   <td>10</td> <td>佩奇</td> <td>19</td> </tr>
            <tr>   <td>10</td> <td>佩奇</td> <td>19</td> </tr>
            <tr>   <td>10</td> <td>佩奇</td> <td>19</td> </tr>
        </tbody>
    </table>

    <h1>输入内容</h1>
    <input type="text">
    <input type="password">
    <input type="file">

    <input type="radio" name = "n1">男
    <input type="radio" name = "n1">女

    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">

    <input type="button" value=提交>
    <input type="submit" value=提交>


    <h1>下拉框</h1>
    <select>
	    <option>北京</option>
	    <option>上海</option>
	    <option>深圳</option>
    </select>

    <select multiple>
	    <option>北京</option>
	    <option>上海</option>
	    <option>深圳</option>
    </select>

    <h1>多行文本</h1>
    <textarea rows="3"></textarea>

</body>
</html>